body {
    position: relative;
    /*font-family: Helvetica, Arial, sans-seri0f;*/
    font-family: 'Patrick Hand SC', cursive;
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #eee;
    background: #e5e5e5;
}
h2 {
	color : #00f;
	font-size: 42px;
	width : 100%;
	font-family: 'Griffy', cursive;
	text-shadow: 0 0 15px #666;
	padding: 0;
	margin-top : 8px;
}

h3 {
	border : 1px solid #333;
	border-bottom : none;
	width : 100%;
	padding : 10px;
	padding-top : 5px;
	padding-bottom : 0;
	margin : 0;
	background : #333;
	color : #ff0;
}
table {
	width : 100%;
}
.new-entry-holder {
	width : 520px;
}
.form-holder {
	border : 1px solid #333;
	font-size : 17px;
	padding : 10px;
	padding-top : 0;
	width : 100%;
}


label {
	display : block;
	margin-bottom : 20px;
}

.header a {
	text-decoration : none;
	color : #ff0;
}

.error {
	color : #f00;
	font-size : 15px;
	height : 20px;
}

.show-content {
	border : none;
}
.blog-entries {
	border-radius : 15px;
	background : red;
	padding : 10px;
}
.list-brothers {
	border-spacing: 0;
	font-size : 16px;
}
.list-brothers thead {
	color : #000;
	text-align : left; 
	font-size: 24px;
}

.list-brothers tr {
	color: #333;
	padding: 2px 0;
}

.brother-line:hover  {
	background: #333;
	color : #fff;
}
.b-index {}
.b-name, .b-email {
	text-align : left;
}
.b-next {
	text-align: center;
}

.log-entries {
	border : 1px solid #ddd;
	margin-top : 10px;
	
}

table.entries-list {
	width: 50%;
}

.header {
	width : 400px;
	float: left;
	height : 60px;
}
.user {
	float : right;
	width : 250px;
	background: #d5d5d5;
	padding: 4px;
	text-align: center;
	border-radius : 15px;
	height : 60px;
}
.user a {
	font-size : 16px;
	color : #ee0033;
}
.user-logged {
	width : 100%;
	height: 25px;
	color : #333;
	display : block;
	margin-bottom: 4px;
	font-size : 16px;
	overflow: hidden;
}

.user-logged p {
	margin: 0;
	padding : 0;
}
.user-logged-img {
	width : 45%;
	float : left;
}
.user-logged-admin {
	width : 45%;
	float : right;
}

.float-breaker {
	clear: both;
}
.form-input input {
	width: 70%;
	border: 1px solid #00f;
	background : #ddd;
}

.he-is-next {
animation:myfirst 5s;
animation-iteration-count : infinite;
-moz-animation:myfirst 5s;
-moz-animation-iteration-count: infinite;
-webkit-animation:myfirst 5s;
-webkit-animation-iteration-count: infinite;
-o-animation:myfirst 5s;
-o-animation-iteration-count: infinite;
}


@-moz-keyframes myfirst 
{
0% {background: #eee;color: #333}
50% {background: #00d;color: #eee}
100% {background: #eee;color: #333}
}

@-webkit-keyframes myfirst 
{
0% {background: #eee;color: #333}
50% {background: #00d;color: #eee}
100% {background: #eee;color: #333}
}